.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 353px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__delete-btn {
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 10px;
}
.card__delete-btn:hover {
  background-image: url(../images/delete-icon-hover.svg);
}
.card__like-btn {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  margin-top: 12px;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
}
.card__like-btn:hover {
  opacity: 1;
  transition: opacity 1s linear 0s;
}
.card__like-btn_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
  background-color: transparent;
}
.card__like-btn_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    width: 288px;
  }
  .card__title {
    max-width: 250px;
  }
}
